.App {
  text-align: center;
  background-color: darkgreen;
  border: 5px solid gold;
  min-height: 880px;
}

.App-header {
  background-color: darkgreen;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
    white-space: pre-wrap;
}

.table {
  color: white;
  border-top: 5px solid gold;
  min-height: 730px;
}


.dealerHand {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  min-height: 200px;
}

.dealerHidden {
  border: 5px solid white;
  background:
  repeating-conic-gradient(from 0deg, 
    red 0% 25%, #eee 0% 50%) 
 
}

.cardDisplay {
  border: 2px dashed yellow !important;
}

.playerHand {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  min-height: 200px;
}

.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  border: 5px solid white;
  color: white;
  border-radius: 5px;
  padding: 2rem;
  background-color: darkgreen;
  width: 35em;
  height: 600px;
}

.redCard {
  border: 5px solid red;
}

.blackCard {
  border: 5px solid black;
}

.gameButton {
  margin: 5px !important;
}

/* .infoButton {
  width: 500px;
} */
/* 
.accordion_item.active .button {
  background-color: #105057;
}
.description {
  max-height: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-property: max-height 0.5s ease;
  z-index: 1;
  position: relative;

}
.description .open {
  max-height: 1000px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-property: max-height 0.5s ease;
  z-index: 1;
  position: relative;
} */

/* .infoTitle {
  text-align: center;
} */

.MuiAccordionSummary-content {
  justify-content: center;
}

.winner-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.winner {
  border: 5px solid white;
  color: white;
  border-radius: 5px;
  padding: 2rem;
  background-color: darkgreen;
  width: 35em;
  height: 600px;
}