.App {
  text-align: center;
}

.App-header {
  background-color: darkgreen;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
    white-space: pre-wrap;
}


.dealerHand {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.playerHand {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 35em;
}

.redCard {
  border: 2px solid red;
}

.blackCard {
  border: 2px solid black;
}